# WikiAnswers dataset
 
Authors: Flora Geske

Copyright (C) 2021 Flora Geske and DynaGroup i.T. GmbH

+------------------------------------+
| WikiAnswers Paraphrase Dataset 1.0 |
+------------------------------------+

Authors:

    Anthony Fader (afader@cs.washington.edu)
    Luke Zettlemoyer
    Oren Etzioni

This file describes the WikiAnswers Paraphrase Dataset. The dataset contains 
approximately 18 million word-aligned {question1, question2} pairs. 

If you use this data in your research, please use the following citation:

@inproceedings{Fader13,
    author    = {Anthony Fader and Luke Zettlemoyer and Oren Etzioni},
    title     = {{Paraphrase-Driven Learning for Open Question Answering}},
    booktitle = {Proceedings of the 51st Annual Meeting of the Association for 
                 Computational Linguistics},
    year      = {2013}
}

+------------+
| Background |
+------------+

WikiAnswers (http://wiki.answers.com) is a website where users can post 
questions and answers about almost any topic. A unique feature is that users
can tag two questions as equivalent and merge them together. For example,
here is a page listing the revisions to "What is the date of birth for Malia 
Obama?" 

    http://wiki.answers.com/Q/Special:Changes&cv=question:What_is_the_date_of_birth_for_Malia_Obama

We crawled these pages over a period of a month in 2012 and scraped the 
paraphrases from pages like the one above. 

This dataset contains these paraphrases, their word alignments, and basic 
NLP processed versions of the questions (tokenization, tagging, and 
lemmatization). There are about 2.5 million distinct questions and 
18 million distinct paraphrase pairs.

Here is some example data:

    question: 
        
    What are the green blobs in plant cells?

    paraphrases (lemmatized):

        a green substance in the plant cell be the ?
        be cytoplasm a green cell part in certain plant cell ?
        package of green coloring in plant cell ?
        part of the plant cell where the cell get it green color ?
        the green part in a plant be call ?
        the green part of a plant cell ?
        the part of the plant cell that make the plant green be call ?
        what be green part call ?
        what be green part in plant cell ?
        what be the green body in a plant cell ?
        what be the green machine within a plant cell ?
        what be the green part of a plant cell ?
        what be the green part of plant cell ?
        what be the green substance in plant cell ?
        what be the name of the green thing in the plant cell ?
        what be the part of plant cell that give it green color ?
        what be the part of the cell that produce the green color of the plant ?
        what be the part of the plant cell that make the green color ?
        what be to part of the plant cell ?
        what cell part do plant have that enable the plant to be give a green color ?
        what in a plant cell that be green ?
        what part of the cell be large and green ?
        what part of the plant cell turn it green ?


+---------------+
| questions.txt |
+---------------+

The file questions.txt contains four tab-separated columns of text in the form
(question, tokens, pos-tags, lemmas). For example:

    question: Are liposaccharides protiens?
    tokens:   Are liposaccharides protiens ?
    pos-tags: VBP NNS NNS .
    lemmas:   be liposaccharide protien ?

The tokens, pos-tags, and lemmas were produced using the Stanford CoreNLP 
tools. The code and models used are: stanford-corenlp-1.3.4.jar and 
stanford-corenlp-1.3.4-models.jar. The properties used were:

    annotators = tokenize,ssplit,pos,lemma
    ssplit.eolonly = true
    

+---------------------+
| word_alignments.txt |
+---------------------+

The file word_alignments.txt contains three tab-separated columns of text
in the form (question1, question2, word-alignments). Each question column is a
space-separated list of lemmatized tokens. The word-alignment column is a 
space-separated list of word-index alignments. Here is an example record:

    question1:       how many people live in racine ?
    question2:       what be the population of racine ?
    word-alignments: 0-0 1-1 2-2 2-3 3-3 4-4 5-5 6-6

This record corresponds to the following word alignment:

         0    1     2     3       4    5    6
        how  many people live     in racine ?
         |    |     | \   |       |    |    |
         |    |     |  \  |       |    |    |
         |    |     |   \ |       |    |    |
        what  be   the population of racine ?
         0    1     2      3      4    5    6

Each word alignment pair is in the form i-j, where i is the index in question1
and j is the index in question2. The indexes start at 0. Some words may not be
aligned to any word.

The paraphrases in word_alignments.txt appear in both orders, (q1, q2, w) and
(q2, q1, w'). 

The word-alignments were created using MGIZA++, called via Moses. The input
corpus to MGIZA++ was (q1, q2) and (q2, q1) for each paraphrase. The command
to create the alignments is:

    perl $MOSES/scripts/training/train-model.perl \
        -mgiza \
        -mgiza-cpus 8 \
        -alignment grow-diag-final-and \
        -reordering msd-bidirectional-fe \
        --score-options='--GoodTuring' \
        --extract-options='--IncludeSentenceId' \
        -parallel

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = open('drive/My Drive/Paraphrasing API/datasets/wikianswers/word_alignments.txt', "r")

In [ ]:
N = 100
with open('drive/My Drive/Paraphrasing API/datasets/wikianswers/word_alignments.txt', "r") as file:  # the a opens it in append mode
    for i in range(N):
        line = next(file).strip()
        print(line)

' 1922 '' caliber 126.1930 ?	what be the value of a sear 22 ?	4-3 4-4 4-5 1-6 2-6 4-6 3-7 4-7 5-8
' 1922 '' caliber 126.1930 ?	what be the value of a sear model 1 22 caliber rifle ?	2-0 4-3 4-4 4-5 4-6 4-7 4-8 4-9 3-10 4-10 4-11 5-12
' 1922 '' caliber 126.1930 ?	what be the value of a sears roebuick 22 caliber rifle 126.19320 ?	4-3 4-4 4-5 4-6 4-7 4-8 3-9 4-10 0-11 1-11 2-11 3-11 4-11 5-12
' 5 '10 inch in cm ?	5 ' 10 how many cm ?	1-0 0-1 2-2 3-3 5-4 4-5 5-5 6-6
' 5 '10 inch in cm ?	5 '10 be equal to how many centimeter ?	1-0 0-1 1-1 2-1 3-1 4-2 4-3 5-4 5-5 5-6 5-7 6-8
' 5 '10 inch in cm ?	5 foot 10 inch be how many centimeter ?	1-0 0-1 2-2 3-3 4-4 5-5 5-6 5-7 6-8
' 5 '10 inch in cm ?	5 foot 10 inch be what in meter and centimeter ?	1-0 0-1 2-2 2-3 3-3 4-6 5-9 6-10
' 5 '10 inch in cm ?	5 foot 10 inch be what in metre and centimeter ?	1-0 0-1 2-2 2-3 3-3 4-6 5-9 6-10
' 5 '10 inch in cm ?	5 foot 10 inch be what in metre and centimetre ?	1-0 0-1 2-2 2-3 3-3 4-6 5-9 6-10
' 5 '10 inch in cm ?	5 foot 10 inch equal cm ?	1-0 0-1 2-2 3-3 4-4 5-5 6-6
' 5 '10 inch in cm ?	5 foot 10 inch equal how many centimeter ?	1-0 0-1 2-2 3-3 4-4 5-5 5-6 5-7 6-8
' 5 '10 inch in cm ?	5 foot 10 inch equal to how many cm ?	1-0 0-1 2-2 3-3 4-4 4-5 5-6 5-7 5-8 6-9
' 5 '10 inch in cm ?	5 foot 10 inch in cm ?	1-0 0-1 2-2 3-3 4-4 5-5 6-6
' 5 '10 inch in cm ?	5 foot 9 '' be how mant cm ?	1-0 0-1 2-6 3-7 4-7 5-7 6-8
' 5 '10 inch in cm ?	5 foot and ten inch be equal to how many centimeter ?	0-0 1-0 2-1 2-2 2-3 3-4 4-5 4-6 5-7 5-8 5-9 5-10 6-11
' 5 '10 inch in cm ?	5ft 10 in cm ?	0-0 1-0 2-0 2-1 4-2 3-3 5-3 6-4
' 5 '10 inch in cm ?	how convert 5 '10 to centimeter ?	3-1 2-2 0-3 1-3 2-3 3-3 4-4 5-5 6-6
' 5 '10 inch in cm ?	how many centemeter be 5 ' 10 ?	5-1 3-2 5-2 4-3 1-4 2-4 2-5 2-6 6-7
' 5 '10 inch in cm ?	how many centemeter in 5 foot 10 inch ?	6-0 5-1 5-2 4-3 1-4 2-5 2-6 3-7 6-8
' 5 '10 inch in cm ?	how many centimeter be 5 ' 10feet ?	0-2 1-4 2-4 2-5 2-6 3-6 4-6 5-6 6-7
' 5 '10 inch in cm ?	how many centimeter be 5.10 ?	3-2 4-3 0-4 1-4 2-4 3-4 4-4 5-4 6-5
' 5 '10 inch in cm ?	how many centimeter be ther in 5 foot and 10 inch ?	5-1 5-2 5-3 1-6 2-6 0-7 2-7 2-8 2-9 3-10 4-11 6-11
' 5 '10 inch in cm ?	how many centimeter be there in 5 foot and 10 inch ?	5-0 5-1 5-2 5-3 5-4 4-5 1-6 0-7 2-8 2-9 3-10 6-11
' 5 '10 inch in cm ?	how many centimeter be un 5 ft and 10 inch ?	5-1 5-2 4-3 2-4 1-5 2-5 0-6 2-6 2-7 2-8 3-9 6-10
' 5 '10 inch in cm ?	how many centimeter equal to 5 ft and 10 inch ?	6-0 5-1 5-2 4-3 5-3 4-4 1-5 0-6 2-7 2-8 3-9 6-10
' 5 '10 inch in cm ?	how many centimeter in 5 ft 10 in ?	5-1 5-2 6-3 1-4 2-4 0-5 2-5 2-6 4-7 6-8
' 5 '10 inch in cm ?	how many centimetre be 5 foot 10 inch ?	6-0 5-1 5-2 4-3 1-4 0-5 2-6 3-7 6-8
' 5 '10 inch in cm ?	how many centimetre be there in 5 foot 10 inch ?	5-0 5-1 5-2 5-3 5-4 4-5 1-6 0-7 2-8 3-9 6-10
' 5 '10 inch in cm ?	how many centimetre be thre in 5 foot 10 inch ?	5-1 5-2 5-3 1-6 2-6 0-7 2-7 2-8 3-9 4-10 6-10
' 5 '10 inch in cm ?	how many santimeter be 5 '10 foot ?	5-1 4-3 1-4 2-4 2-5 3-5 2-6 6-7
' 5 '10 inch in cm ?	how much be 30 foot in cm ?	0-3 1-3 2-3 2-4 3-4 4-5 5-6 6-7
' 5 '10 inch in cm ?	how much be 5 '10 in centimeter ?	2-3 0-4 1-4 2-4 3-4 4-5 5-6 6-7
' 5 '10 inch in cm ?	how much be 5 '10 inch ?	2-3 0-4 1-4 2-4 3-5 4-6 6-6
' 5 '10 inch in cm ?	how much be 5 foot 10 in cm ?	1-3 2-3 0-4 2-4 2-5 4-6 3-7 5-7 6-8
' 5 '10 inch in cm ?	many centimeter in 5 ' 10 ?	3-0 3-1 5-1 4-2 1-3 0-4 2-5 6-6
' 5 '10 inch in cm ?	what 5 foot 10 inch in centimetre ?	1-0 1-1 2-1 0-2 2-2 2-3 3-4 4-5 5-6 6-7
' 5 '10 inch in cm ?	what be 5 ' 10 in centimetre ?	1-0 1-1 1-2 2-2 0-3 2-3 2-4 4-5 3-6 5-6 6-7
' 5 '10 inch in cm ?	what be 5 '10 in centimeter ?	1-0 1-1 2-2 0-3 1-3 2-3 3-3 4-4 5-5 6-6
' 5 '10 inch in cm ?	what be 5 foot 10 in cm 's ?	1-0 1-1 1-2 2-2 0-3 2-3 2-4 4-5 3-6 5-6 5-7 6-8
' 5 '10 inch in cm ?	what be 5 foot 10 in cm ?	1-0 1-1 1-2 2-2 0-3 2-3 2-4 4-5 3-6 5-6 6-7
' 5 '10 inch in cm ?	what be 5 foot 10 inch in cm ?	1-0 1-1 1-2 2-2 0-3 2-3 2-4 3-5 4-6 5-7 6-8
' 5 '10 inch in cm ?	what be 5 foot 11 in cm ?	1-0 1-1 0-2 1-2 2-2 2-3 3-3 2-4 4-5 5-6 6-7
' 5 '10 inch in cm ?	what be 5 foot and 10 inch in centimetre ?	1-0 1-1 1-2 2-2 0-3 2-3 2-4 2-5 3-6 4-7 5-8 6-9
' 5 '10 inch in cm ?	what be 5foot10 in cm ?	1-0 1-1 0-2 1-2 2-2 3-2 4-3 5-4 6-5
' 5 '10 inch in cm ?	what be the height in centimeter of a person who be 5 foot 10 inch tall ?	5-3 4-4 5-5 6-6 6-7 2-8 2-9 1-10 1-11 0-12 2-13 3-14 2-15 6-16
' 600mb ' in all category ?	a 600 mb movie be equal to how long ?	1-0 1-1 0-2 1-2 2-2 1-3 4-4 3-6 6-9
' 600mb ' in all category ?	how many hour be a 600mb movie ?	3-3 0-5 1-5 2-5 1-6 6-7
' 600mb ' in all category ?	how many hour do a movie director have ?	4-1 1-4 0-5 1-5 1-6 1-7 2-7 3-8 6-8
' 600mb ' in all category ?	how many hour of movie do 16gb usb take ?	3-3 4-4 4-5 0-6 1-6 2-6 5-6 1-7 1-8 6-9
' 600mb ' in all category ?	how many mb in a 3 hour movie ?	1-0 1-1 0-2 1-2 2-2 3-3 4-7 6-8
' 600mb ' in all category ?	how many min in 600mb ?	3-3 0-4 1-4 2-4 4-4 5-4 6-5
' 600mb ' in all category ?	how much be 600mb ?	3-2 0-3 1-3 2-3 4-3 5-3 6-4
' a beautiful mind ' be write by ?	a beatiful mind director ?	1-0 2-1 3-2 4-2 3-3 8-4
' a beautiful mind ' be write by ?	a beautiful mind director ?	1-0 2-1 3-2 4-2 3-3 8-4
' a beautiful mind ' be write by ?	five defencse mechanism use in beautiful mind ?	0-1 7-4 2-5 3-6 8-7
' a beautiful mind ' be write by ?	which director direct a beautiful mind ?	0-2 1-3 2-4 3-5 4-5 6-5 7-5 8-6
' a beautiful mind ' be write by ?	who direct ` beautiful mind ' ?	2-0 0-1 1-1 3-1 3-2 2-3 3-4 6-4 7-4 4-5 5-5 8-6
' a beautiful mind ' be write by ?	who direct a beautiful mind ?	0-1 1-2 2-3 3-4 4-4 6-4 7-4 8-5
' a beautiful mind ' be write by ?	who direct beautiful mind ?	2-0 0-1 1-1 2-2 3-3 4-3 6-3 7-3 8-4
' a beautiful mind ' be write by ?	who direct movie a beautiful mind ?	5-0 0-1 1-3 2-4 3-5 4-5 6-5 7-5 8-6
' a beautiful mind ' be write by ?	who direct the movie a beautiful mind ?	0-1 1-4 2-5 3-6 4-6 6-6 7-6 8-7
' a beautiful mind ' be write by ?	who direct the movie beautiful mind ?	0-1 1-2 3-3 2-4 3-5 4-5 6-5 7-5 8-6
' a young lizard ' ?	how do lizard raise there young ?	3-2 2-3 3-4 1-5 2-5 4-5 5-6
' a young lizard ' ?	how do we call the young of lizard ?	0-3 1-4 2-5 4-6 3-7 5-8
' a young lizard ' ?	how youn lizard be call ?	1-0 0-1 2-1 3-1 4-1 3-2 4-3 5-5
' a young lizard ' ?	what be call bby lizard ?	1-0 2-1 2-2 2-3 3-3 4-3 3-4 5-5
' a young lizard ' ?	what be lizard baby call ?	0-2 3-2 1-3 2-3 2-4 4-4 5-5
' a young lizard ' ?	what be lizard offspring call ?	0-2 3-2 1-3 2-3 2-4 4-4 5-5
' a young lizard ' ?	what be the name of young lizard ?	0-1 1-5 2-5 3-6 4-7 5-7
' a young lizard ' ?	what be the young lizard call ?	0-1 1-2 2-3 3-4 2-5 4-5 5-6
' a young lizard ' ?	what be the young of a lizard ?	0-1 1-2 2-3 2-5 3-6 5-7
' a young lizard ' ?	what be the young of a lizard call ?	1-2 0-3 2-3 2-5 3-6 2-7 4-7 5-8
' a young lizard ' ?	what be the young of lizard call ?	2-2 0-3 1-3 2-3 3-5 2-6 4-6 5-7
' a young lizard ' ?	what be the young of the lizard call ?	1-2 0-3 1-3 2-3 4-4 4-5 3-6 2-7 5-8
' a young lizard ' ?	what be the young one of lizard know as ?	0-1 1-2 2-3 2-4 3-6 4-7 4-8 5-9
' a young lizard ' ?	what be young lizard call ?	1-0 2-1 0-2 1-2 2-2 3-3 4-4 5-5
' a young lizard ' ?	what be young of lizard call ?	0-2 1-2 2-2 3-4 2-5 4-5 5-6
' a young lizard ' ?	what be young sand lizard call ?	1-0 2-1 0-2 2-2 1-3 3-4 4-5 5-6
' a young lizard ' ?	what do you call a baby lizzard ?	1-0 1-1 1-2 0-3 1-4 2-5 3-6 4-6 5-7
' a young lizard ' ?	what do you call a young lizard ?	1-0 1-1 1-2 0-3 1-4 2-5 3-6 4-7 5-7
' a young lizard ' ?	what do you call by baby lizard ?	0-1 1-2 0-3 0-4 1-5 2-5 3-6 4-7 5-7
' a young lizard ' ?	what lizard young be call ?	3-1 2-2 4-2 2-3 0-4 2-4 1-5 5-5
' a young lizard ' ?	young of a lizard call ?	2-0 0-1 1-2 3-3 2-4 4-4 5-5
' a young lizard ' ?	young one of lizard ?	0-0 2-0 1-1 2-1 3-3 5-4
' canada 's tallest mountain ?	the most tallest mountain in canada ?	2-0 2-1 3-1 3-2 4-3 0-4 5-4 1-5 5-6
' canada 's tallest mountain ?	what be the smallest and tallest mountain in canada ?	2-1 3-5 4-6 0-7 5-7 1-8 5-9
' canada 's tallest mountain ?	what be the tallest mountain be canada ?	2-2 3-3 4-4 4-5 1-6 0-7 5-7
' endeavour ' be the four wheeler launch by ?	how many people be on board the endeavor ?	3-3 1-4 1-5 1-6 4-6 0-7 1-7 2-7 5-7 6-7 7-7 8-8 9-8
' endeavour ' be the four wheeler launch by ?	how many room do the endeavour have ?	3-3 4-4 0-5 1-5 2-5 5-5 6-5 7-5 8-5 1-6 9-7
' endeavour ' be the four wheeler launch by ?	how much do the endeavor coast ' ?	3-2 4-3 0-4 1-4 2-4 5-4 6-4 7-4 1-5 1-6 8-6 9-7
' endeavour ' be the four wheeler launch by ?	how much money do the endeavour cost ?	3-3 4-4 0-5 1-5 2-5 5-5 6-5 7-5 8-5 1-6 9-7
' endeavour ' be the four wheeler launch by ?	what do nasa do to resarch and accomplishment of altainschanllengercolimbiadiscorevyand endeavor ?	4-0 3-1 5-6 8-8 0-9 1-9 2-9 1-10 9-11
' endeavour ' be the four wheeler launch by ?	what happen to endeavour ?	1-1 1-2 0-3 1-3 2-3 5-3 6-3 7-3 8-3 4-4 9-4
' endeavour ' be the four wheeler launch by ?	when be endeavour 1st launch ?	3-1 0-2 1-2 2-2 4-2 5-2 6-2 1-3 7-4 8-4 9-5
' endeavour ' be the four wheeler launch by ?	when be endeavour last launch ?	3-1 0-2 1-2 2-2 4-2 5-2 6-2 1-3 7-4 8-4 9-5
' endeavour ' be the four wheeler launch by ?	when be endeavour launch ?	3-1 0-2 1-2 2-2 4-2 5-2 6-2 7-3 8-3 9-4
' endeavour ' be the four wheeler launch by ?	when be endeavur launch ?	3-1 0-2 1-2 2-2 4-2 5-2 6-2 7-3 8-3 9-4
' endeavour ' be the four wheeler launch by ?	when be the endeavor lached ?	3-1 4-2 0-3 1-3 1-4 2-4 5-4 6-4 7-4 8-4 9-5
' endeavour ' be the four wheeler launch by ?	when be the endeavor make ?	3-1 4-2 0-3 1-3 2-3 5-3 6-3 7-3 1-4 8-4 9-5
' endeavour ' be the four wheeler launch by ?	when the endeavour be launch ?	1-0 1-1 0-2 1-2 2-2 4-2 5-2 6-2 3-3 7-4 8-4 9-5

In [ ]:
df = pd.DataFrame()
for chunk in pd.read_table(data, header=None, names=['q1', 'q2', 'alignment'], chunksize=100000):
    df = pd.concat([df, chunk], ignore_index=True)

In [ ]:
print(df[['q1', 'q2']].head(50))

                              q1                                                 q2
0   ' 1922 '' caliber 126.1930 ?                   what be the value of a sear 22 ?
1   ' 1922 '' caliber 126.1930 ?  what be the value of a sear model 1 22 caliber...
2   ' 1922 '' caliber 126.1930 ?  what be the value of a sears roebuick 22 calib...
3           ' 5 '10 inch in cm ?                               5 ' 10 how many cm ?
4           ' 5 '10 inch in cm ?            5 '10 be equal to how many centimeter ?
5           ' 5 '10 inch in cm ?            5 foot 10 inch be how many centimeter ?
6           ' 5 '10 inch in cm ?   5 foot 10 inch be what in meter and centimeter ?
7           ' 5 '10 inch in cm ?   5 foot 10 inch be what in metre and centimeter ?
8           ' 5 '10 inch in cm ?   5 foot 10 inch be what in metre and centimetre ?
9           ' 5 '10 inch in cm ?                          5 foot 10 inch equal cm ?
10          ' 5 '10 inch in cm ?         5 foot 10 inch equal how many centimeter ?
11          ' 5 '10 inch in cm ?              5 foot 10 inch equal to how many cm ?
12          ' 5 '10 inch in cm ?                             5 foot 10 inch in cm ?
13          ' 5 '10 inch in cm ?                       5 foot 9 '' be how mant cm ?
14          ' 5 '10 inch in cm ?  5 foot and ten inch be equal to how many centi...
15          ' 5 '10 inch in cm ?                                     5ft 10 in cm ?
16          ' 5 '10 inch in cm ?                  how convert 5 '10 to centimeter ?
17          ' 5 '10 inch in cm ?                    how many centemeter be 5 ' 10 ?
18          ' 5 '10 inch in cm ?            how many centemeter in 5 foot 10 inch ?
19          ' 5 '10 inch in cm ?                how many centimeter be 5 ' 10feet ?
20          ' 5 '10 inch in cm ?                      how many centimeter be 5.10 ?
21          ' 5 '10 inch in cm ?  how many centimeter be ther in 5 foot and 10 i...
22          ' 5 '10 inch in cm ?  how many centimeter be there in 5 foot and 10 ...
23          ' 5 '10 inch in cm ?       how many centimeter be un 5 ft and 10 inch ?
24          ' 5 '10 inch in cm ?    how many centimeter equal to 5 ft and 10 inch ?
25          ' 5 '10 inch in cm ?                how many centimeter in 5 ft 10 in ?
26          ' 5 '10 inch in cm ?            how many centimetre be 5 foot 10 inch ?
27          ' 5 '10 inch in cm ?   how many centimetre be there in 5 foot 10 inch ?
28          ' 5 '10 inch in cm ?    how many centimetre be thre in 5 foot 10 inch ?
29          ' 5 '10 inch in cm ?                how many santimeter be 5 '10 foot ?
30          ' 5 '10 inch in cm ?                        how much be 30 foot in cm ?
31          ' 5 '10 inch in cm ?                  how much be 5 '10 in centimeter ?
32          ' 5 '10 inch in cm ?                           how much be 5 '10 inch ?
33          ' 5 '10 inch in cm ?                      how much be 5 foot 10 in cm ?
34          ' 5 '10 inch in cm ?                        many centimeter in 5 ' 10 ?
35          ' 5 '10 inch in cm ?                what 5 foot 10 inch in centimetre ?
36          ' 5 '10 inch in cm ?                     what be 5 ' 10 in centimetre ?
37          ' 5 '10 inch in cm ?                      what be 5 '10 in centimeter ?
38          ' 5 '10 inch in cm ?                       what be 5 foot 10 in cm 's ?
39          ' 5 '10 inch in cm ?                          what be 5 foot 10 in cm ?
40          ' 5 '10 inch in cm ?                     what be 5 foot 10 inch in cm ?
41          ' 5 '10 inch in cm ?                          what be 5 foot 11 in cm ?
42          ' 5 '10 inch in cm ?         what be 5 foot and 10 inch in centimetre ?
43          ' 5 '10 inch in cm ?                            what be 5foot10 in cm ?
44          ' 5 '10 inch in cm ?  what be the height in centimeter of a person w...
45   ' 600mb ' in all category ?              a 600 mb movie be equal to how long ?
46   ' 600mb ' in all category ?                   how many hour be a 600mb movie ?
47   ' 600mb ' in all category ?           how many hour do a movie director have ?
48   ' 600mb ' in all category ?          how many hour of movie do 16gb usb take ?
49   ' 600mb ' in all category ?                    how many mb in a 3 hour movie ?

In [ ]:
len(df)

35291308

In [ ]:
df

                                        q1  ...                                          alignment
0             ' 1922 '' caliber 126.1930 ?  ...                4-3 4-4 4-5 1-6 2-6 4-6 3-7 4-7 5-8
1             ' 1922 '' caliber 126.1930 ?  ...  2-0 4-3 4-4 4-5 4-6 4-7 4-8 4-9 3-10 4-10 4-11...
2             ' 1922 '' caliber 126.1930 ?  ...  4-3 4-4 4-5 4-6 4-7 4-8 3-9 4-10 0-11 1-11 2-1...
3                     ' 5 '10 inch in cm ?  ...                    1-0 0-1 2-2 3-3 5-4 4-5 5-5 6-6
4                     ' 5 '10 inch in cm ?  ...    1-0 0-1 1-1 2-1 3-1 4-2 4-3 5-4 5-5 5-6 5-7 6-8
...                                    ...  ...                                                ...
35291304  zygote produce seed in a plant ?  ...                    4-0 5-0 5-1 0-2 1-2 2-3 3-4 6-4
35291305               zylinder in isuzu ?  ...                        0-0 0-1 0-2 2-3 1-4 0-5 3-6
35291306          zyrtec facial sweating ?  ...                        1-0 2-1 1-2 2-3 1-4 0-5 3-6
35291307          zyrtec facial sweating ?  ...                        0-1 0-2 1-3 0-4 1-4 2-5 3-6
35291308          zyrtec facial sweating ?  ...                        1-1 1-2 2-3 0-4 1-4 2-5 3-6

[35291309 rows x 3 columns]

In [ ]:
df.to_csv('/content/drive/My Drive/Paraphrasing API/datasets/combine_datasets/WikiAnswers.csv', encoding='utf-8', index=False)